<header class="main-header">
    
    <h1 class="band-name band-name-large">Quiz app</h1>
    
    <button class="register-button btn" (click)="gotoRegister()">Register now</button>
</header>

<section class="content-section container">
    <h2 class="section-header"> About us</h2>
    <img src='../../../../assets/images/home/webinar.jpg' class="about-band-image ">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo cumque. Deleniti, ad. Eaque deleniti 
        ipsam reiciendis tenetur nemo atque, tempore quidem, odit accusamus aspernatur earum veniam error perspiciatis vero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo cumque. Deleniti, ad. Eaque deleniti 
        ipsam reiciendis tenetur nemo atque, tempore quidem, odit accusamus aspernatur earum veniam error perspiciatis vero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo cumque. Deleniti, ad. Eaque deleniti 
        ipsam reiciendis tenetur nemo atque, tempore quidem, odit accusamus aspernatur earum veniam error perspiciatis vero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo cumque. Deleniti, ad. Eaque deleniti 
        ipsam reiciendis tenetur nemo atque, tempore quidem, odit accusamus aspernatur earum veniam error perspiciatis vero?</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo cumque. Deleniti, ad. Eaque deleniti 
        ipsam reiciendis tenetur nemo atque, tempore quidem, odit accusamus aspernatur earum veniam error perspiciatis vero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo cumque. Deleniti, ad. Eaque deleniti 
        ipsam reiciendis tenetur nemo atque, tempore quidem, odit accusamus aspernatur earum veniam error perspiciatis vero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo cumque. Deleniti, ad. Eaque deleniti 
        ipsam reiciendis tenetur nemo atque, tempore quidem, odit accusamus aspernatur earum veniam error perspiciatis vero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo cumque. Deleniti, ad. Eaque deleniti 
        ipsam reiciendis tenetur nemo atque, tempore quidem, odit accusamus aspernatur earum veniam error perspiciatis vero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo cumque. Deleniti, ad. Eaque deleniti 
        ipsam reiciendis tenetur nemo atque, tempore quidem, odit accusamus aspernatur earum veniam error perspiciatis vero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo cumque. Deleniti, ad. Eaque deleniti 
        ipsam reiciendis tenetur nemo atque, tempore quidem, odit accusamus aspernatur earum veniam error perspiciatis vero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo cumque. Deleniti, ad. Eaque deleniti 
        ipsam reiciendis tenetur nemo atque, tempore quidem, odit accusamus aspernatur earum veniam error perspiciatis vero?
</section>
