<footer class="main-footer">
    <div class="container main-footer-container">
        <h3 class="band-name">Quiz App</h3>
        <ul class="nav">
            <li><a><fa-icon [icon]='facebook' class="fa-icon" aria-hidden="true"></fa-icon></a></li>
            <li><a><fa-icon [icon]='linkedIn' class="fa-icon" aria-hidden="true"></fa-icon></a></li>
            <li><a><fa-icon [icon]='google' class="fa-icon" aria-hidden="true"></fa-icon></a></li>
            <li><a><fa-icon [icon]='instagram' class="fa-icon" aria-hidden="true"></fa-icon></a></li>

        </ul>
    </div>
</footer>
