/*
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.2e,;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - zero zero";
    font-weight: normal;
    color: white;
}

.main-footer{
    background-color:#56ccf2;
    color: white;
    padding: 0 0.5em;
    padding-top : 20px;
}
.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    justify-content: flex-end;
}

.main-footer li{
    display: inline;
   
}

.main-footer li i {
    color: white;
    font-size: 2em;
    padding: 0 8px;
}

.nav a {
    cursor: pointer;
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}*/
.page-footer{
    background-color: rgb(22, 21, 21);
    color:white;
}
.footer-social{
    margin-right : 10px;
    size: 40px; 
}