<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate esse quasi,
            veritatis totam voluptas nostrum.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">PROJECTS</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">ABOUT US</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">BLOG</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">AWARDS</a>
              </p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fa fa-map-marker" aria-hidden="true"></i> New York, NY 10012, US
              </p>
            </li>
            <li>
              <p>
                <i class="fa fa-envelope" aria-hidden="true"></i> info@example.com
              </p>
            </li>
            <li>
              <p>
                <i class="fa fa-phone-square" aria-hidden="true"></i> + 01 234 567 88
              </p>
            </li>
            <li>
              <p>
                <i class="fa fa-phone-square" aria-hidden="true"></i> + 01 234 567 88
              </p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

          <!-- Facebook -->
          <a mdbBtn floating="true" class='footer-social' type="button" color="btn-fb"mdbWavesEffect>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <!-- Twitter -->
          <a type="button" class='footer-social'mdbBtn floating="true" color="btn-tw" mdbWavesEffect>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <!-- Google +-->
          <a type="button" mdbBtn class='footer-social' floating="true" color="btn-gplus" mdbWavesEffect>
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
          </a>
          <!-- Dribbble -->
          <a type="button" mdbBtn class='footer-social' floating="true" color="btn-dribbble" mdbWavesEffect>
            <i class="fa fa-dribbble" aria-hidden="true"></i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <hr style='border-top:1px solid white;'>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->