<div class="container-fluid main">
    <div class="top-tabbar">
        <span class="tabs manuall-enter" [ngClass]='!byFile ? "span-tab-active" : " "' (click)="toggleUpload()">
            Enter questions
        </span>
        <span class="tabs file-enter" [ngClass]='byFile ? "span-tab-active" : " "' (click)="toggleUpload()">
            Upload file
        </span>
    </div>
    <!-- <div class="main-header">
        <h2>Add new quiz</h2>
    </div> -->

    <form [formGroup]='quiz'>
        <div class="row quiz-details">

            <div class="row  apply-margin mat-elevation-z1">

                <div class="col-12 main-detail-div" >
                    <span> Quiz-details</span>
                </div>
            

            
                <div class="col-md-6">
                    <span  class="detail-label">Name</span>

                    <mat-form-field class="example-form-field" appearance="outline">
                        <mat-label>Quiz name</mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <span  class="detail-label">Created By</span>

                    <mat-form-field class="example-form-field" appearance="outline">
                        <mat-label>Created By</mat-label>
                        <input matInput type="text" formControlName="createdBy">
                    </mat-form-field>
                </div>
                
                <div class="col-md-6">
                    <span  class="detail-label">Held On</span>

                    <mat-form-field class="example-form-field" appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput type="date" formControlName="date">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <span  class="detail-label">Held at</span>

                    <mat-form-field class="example-form-field" appearance="outline">
                        <mat-label>Time</mat-label>
                        <input matInput type="time" formControlName='time'>
                    </mat-form-field>
                </div>
            </div>

            <div class="question-main quiz-questions row apply-margin mat-elevation-z1">
                <div class="col-12 main-detail-div" >
                    <span>Add questions</span>
                </div>
            
                <div  formArrayName="questionArray" class="col-12" *ngFor="let ques of quiz.get('questionArray').controls; index as ind">
    
                
                    <div [formGroupName] ="ind" class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-form-field" appearance="outline">
                                <mat-label>type</mat-label>
                                <mat-select formControlName='type' (selectionChange)="addOptions($event.value, ind)">
                                    <mat-option  value="mcq">MCQ</mat-option>
                                    <mat-option  value="other">Yes-no</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
    
                        <div class="col-md-12"> 
                            <mat-form-field class="example-form-field full-width" appearance="outline">
                                <mat-label>Question</mat-label>
                                <input matInput type="text" formControlName='question'>
                            </mat-form-field>
                        </div>
                        
                        <div formArrayName="options" *ngFor='let option of ques.get("options").controls; index as i' class="col-md-3">
                            <div [formGroupName]='i'>
                                <mat-form-field class="example-form-field" appearance="outline">
                                    <mat-label>option {{i+1}}</mat-label>
                                    <input matInput type="text" formControlName='value'>
                                </mat-form-field>
                            </div>
                        </div>
    
                    </div>
    
                </div>
                <div class="col-12 add-more">
                    <button class="btn btn-info" (click)='addNewQuestion()'>Add More</button>
                </div>
                <div class="col-12">
                    <button class="btn btn-success" (click)="submit()">Submit</button>
                </div>
            
            </div>
        </div>

        
    </form>
</div>