<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
      <!-- You can now use your library component in app.component.html -->
      <div class ='slick-div'>
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide my-slide">
    <img src="{{slide}}" alt="" width="100%" class=''>
  </div>
</ngx-slick-carousel>
</div>

<button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button>

<mat-grid-list cols="{{( cardLayout | async )?.columns}}" rowHeight="300px">
  <mat-grid-tile *ngFor="let i of [5]" [colspan]="( cardLayout | async )?.personal.cols"
    [rowspan]="( cardLayout | async )?.personal.rows">
    <div class="container">
      <div class="row">

        <div class="col-md-4" id="p_d2">
          <img id = "user_pic"src="https://static.thenounproject.com/png/3070444-200.png" alt="user image">
        </div>

        <div class="col-md-2"></div>

        <div id = "p_d1" class="cols-md-6">
          <div>Name : {{user_personal_detail.name}}</div>
          <div>Age : {{user_personal_detail.age}}</div> 
          <div>Contact : {{user_personal_detail.contact}}</div>
          <div>Mail : {{user_personal_detail.mail}}</div>
          <div>Rank : {{user_personal_detail.rank}}</div>
          <div>Highest qualification : {{user_personal_detail.highest_qualification}}</div>
        </div>
        
        
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>
