<div class="table">
    
    <!--<mat-grid-list cols="{{( cardLayout | async )?.columns}}" rowHeight="250px">  
      <mat-grid-tile *ngFor="let i of [1]" [colspan]="( cardLayout | async )?.miniCard.cols" [rowspan]="( cardLayout | async )?.miniCard.rows">

       <app-card title="">
            <app-technical-skills-chart [bindingObject]="values" ></app-technical-skills-chart>
        </app-card>
      </mat-grid-tile>
    </mat-grid-list>
  --><br>


<table style="width : 40%;font-size : 30px;">
  
  <tr>
    <td>
      Course name :</td><td> {{quizData.quiz.name}}
    </td>
  </tr>
  <tr>
    <td>
      Total questions :</td><td> {{quizData.answerSheet.totalQuestions}}
    </td>
    </tr>
    <tr>
      <td>
        Wrong Attempted : </td><td>{{quizData.answerSheet.questionAttempted - quizData.answerSheet.markesObtained}}
    </td>
    </tr>
    <tr>
      <td>
        Right Attempt : </td><td>{{quizData.answerSheet.markesObtained}}
    </td>
    </tr>
        <!--<div><button>Review of quiz</button></div>
        --></table>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
</div>
