<div class="grid-container">
    <h1 class="mat-h1"></h1>
    <mat-grid-list cols="{{( cardLayout | async )?.columns}}" rowHeight="250px">  
      <mat-grid-tile *ngFor="let i of [1]" [colspan]="( cardLayout | async )?.miniCard.cols" [rowspan]="( cardLayout | async )?.miniCard.rows">

       <app-card title="">
            <app-technical-skills-chart [bindingObject]="values" ></app-technical-skills-chart>
        </app-card>
      </mat-grid-tile>
    </mat-grid-list>
    <br>
    <div>Course name : {{Data.name}}</div>
    <div>Total questions : {{Data.total}}</div>
    <div>Wrong Attempted : {{Data.wrong_attempt}}</div>
    <div>Right Attempt : {{Data.right_attempt}}</div>
    <div><button>Review of quiz</button></div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
</div>
